---
layout: handbook-page-toc
title: "CI Data Partitioning - Weekly Project Plan"
description: "The CI Data Partitioning Weekly Project Plan - Pipeline Execution Group."
---


## CI Data Partitioning - Weekly Project Plan

### Milestones Goals
- 16.6: ci_builds and ci_builds_metadata partitions in use
- 16.7: ci_builds and ci_builds_metadata partition rebalancing completed
- 16.10: ci_job_artifacts partitions in use
- 16.11: ci_stages partitions in use
- 17.0: ci_pipeline_variables partitions in use
- 17.4: ci_pipelines partitions in use

<details markdown="1">
    <summary markdown="span">Archive</summary>

### Week of August 14, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/122919) to use routing table
- [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125002) fo ensure id uniqueness across partitions
- [x] Confirm execution of [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125002) on .com or retry in case of failure(autovacuum conflict is still an option)


### Week of August 21, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [~] Fix caching issue blocking enabling use of routing table
- [~] Reintroduce migration for self-managed for ensuring uniqueness of ids across partitions

### Week of  August 28, 2023

#### Team Capacity:

- 0 BE (Note: Marius focused on customer escalation)

#### Goals:

### Week of September 4, 2023

#### Team Capacity:

- 0 BE (Note: Marius focused on customer escalation)

#### Goals:

##### ci_builds
- [~] [Analyze partitioned parent tables on a schedule](https://gitlab.com/gitlab-org/gitlab/-/issues/423135)
- [~] [Manually analyze `p_ci_builds` and `p_ci_builds_metadata`](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812#note_1527675793)
- [~] Deploy the [table name switch to canary](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812) and confirm there are no more timeouts

### Week of September 11, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [~] Fix caching issue blocking enabling use of routing table
- [~] Enable query analyzers: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/398134)

</details>

## Milestone 16.5 (September 18, 2023 - October 16, 2023)

### Week of September 18, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [x] [Manually analyze `p_ci_builds` and `p_ci_builds_metadata`](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812#note_1527675793)
- [x] Deploy the [table name switch to canary](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129812) and confirm there are no more timeouts


### Week of September 25, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [~] [Analyze partitioned parent tables on a schedule](https://gitlab.com/gitlab-org/gitlab/-/issues/423135)
- [~] Enable query analyzers: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/398134)

### Week of October 2, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [ ] [Analyze partitioned parent tables on a schedule](https://gitlab.com/gitlab-org/gitlab/-/issues/423135)

### Week of October 9, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [ ] Switch the table name on the entire fleet
- [ ] Enable query analyzers: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/398134) (blocked by table name change)
- [ ] Start adding partition_id filters to necessary related queries


### Week of October 16, 2023

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [ ] Reintroduce migration for self-managed for ensuring uniqueness of ids across partitions

##### ci_builds_metadata
- [ ] Switch writes to second partition: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/387810)

### Milestone 16.6 (October 17, 2023 - November 10, 2023)

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_builds
- [ ] Complete adding partition_id filters to related queries
- [ ] Switch writes to second partition: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/387810)
- [ ] Split existing original partition into smaller partitions
- [ ] Enable for self-managed

##### ci_builds_metadata
- [ ] Complete adding partition_id filters to related queries
- [ ] Split existing original partition into smaller partitions

##### ci_build_artifacts
- TBD

### Milestone 16.7 (November 13, 2023 - December 8, 2023)

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_build_artifacts
- TBD

### Milestone 16.8 (December 11, 2023 - January 12, 2024)

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_build_artifacts
- TBD

##### ci_stages
- TBD

### Milestone 16.9 (January 15, 2024 - February 9, 2024)

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_stages
- TBD

##### ci_pipelines
- TBD

### Milestone 16.10 (February 12, 2024 - March 8, 2024)

#### Team Capacity:

- 1 BE

#### Goals:

##### ci_pipeline_variables
- TBD

### Milestone 16.11 (March 11, 2024 - April 12, 2024)


#### Team Capacity:

- 1 BE

#### Goals:

##### ci_pipelines
- TBD

##### ci_pipeline_variables
- TBD

### Milestone 17.0 (April 15, 2024 - May 10, 2024)

#### Team Capacity:

- 1 BE

#### Goals:

- Create partition manager to dynamically create partitions: [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/389234)
- Re-balance partitions so every partition will use less than 100GB of storage

### Milestone 17.1 (May 13, 2024 - June 14, 2024)

#### Team Capacity:

- 1 BE

#### Goals:

- All self-managed to configure partition manager with their own rules for creating new partitions
